*{	
	margin:0;
	padding:0;
	font-family:"AppleGothic","Century Gothic","Avant Garde",sans-serif;
	box-sizing:border-box;
}
html,body{
}
.list{
	list-style-type:none;
}
.list li a{
	text-decoration:none;
	color:#d1d1d1;
	display:block;
	padding:30px 15px;
	text-align:center;
	z-index:99999;
	transition: all ease .5s;
}
.list li a:hover{
	color:#fff;
}
nav {
	 height: 70px;
	 background: transparent;
	 display: block;
	 position: fixed;
	 width: 100%;
	 z-index: 99999;
	 transition: all ease .5s;
}
nav.shrink > ul > li > a{
	padding-top:20px;
	font-size:15px;
}
nav.shrink{
	height:50px;
	background-color:rgba(0,0,0,0.5);
	padding-top:0px;
}
.icon{
	display:none;
}
.background-image img{
	background-attachment:fixed;
	background-repeat:no-repeat;
	background-size: cover;
	background-position:center;
	position:relative;

}
.home{
	height:100vh;
}
.right{
	float:right;left:15px;
}
.left{
	float:left;
	padding-left:30px;
	font-size:22px;
}
.active{
	color:#fff; 
}
.middle{
	color:#fff;
	position:absolute;
	left:50%;
	top:50%;
	transform: translate(-50%,-50%);
	text-align:center;
}
.caption{
	letter-spacing:3px;
}
#scroll{
	text-align:center;
	padding:15px;
}
#scroll img{
	position:relative;
}
#phone{
	width:120px;
	z-index:99999;
}
#tablet{
	width:250px;
}
#monitor{
	width:500px;
	height:400px;
}
.animate{
	transition:2s ease-in-out;
	-moz-transition:2s ease-in-out;
	-o-animation-fill-mode:forwards;
	-webkit-transition:2s ease-in-out;

	-webkit-animation-fill-mode:forwards;
	-moz-animation-fill-mode:forwards;
	-o-animation-fill-mode:forwards;

	-webkit-animation-duration:1s;
	-moz-animation-duration:1s;
	-o-animation-duration:1s;
	animation-duration:1s;
}
#phone.animate{
	transform:translate(5em,0);
	-moz-transform:translate(5em,0);
	-webkit-transform:translate(5em,0);

}#tablet.animate{
	transform:translate(-10em,0);
	-moz-transform:translate(-10em,0);
	-webkit-transform:translate(-10em,0);
}
@media only screen and (min-width:768px)and (max-width:959px){
	#phone{
		width:70px;
}
	#tablet{
		width:150px;
}
	#monitor{
		width:400px;
		height:300px;
	}
	#phone.animate{
		transform:translate(3em,0);
		-moz-transform:translate(3em,0);
		-webkit-transform:translate(3em,0);

	}#tablet.animate{
		transform:translate(-6em,0);
		-moz-transform:translate(-6em,0);
		-webkit-transform:translate(-6em,0);
	}

}
@media only screen and (max-width:767px){
	#phone{
		width:50px;
	}
	#tablet{
		width:90px;
	}
	#monitor{
		width:200px;
		height:200px;
		}
	#scroll{
		width:100%;
	}
	#phone.animate{
		transform:translate(1.5em,0) !important;
		-moz-transform:translate(1.5em,0) !important;
		-webkit-transform:translate(1.5em,0) !important;

	}#tablet.animate{
		transform:translate(-3.5em,0) !important;
		-moz-transform:translate(-3.5em,0) !important;
		-webkit-transform:translate(-3.5em,0) !important;
	}
	.icon{
		display:block;
		top:0;
		right:0;
		position:absolute;
	}
	.list li a{
		text-align:left;
	}
	.right {
		float:none;
		display:none;
	}
	.left{
		display:block;
		float:none;
		text-align:left;
	}
	.left.padding{
		height:50px;
	}
	.right.opacity{
		background-color:rgba(0,0,0,0.5);
	}
	.projects .box{
		margin:0;
	}
	.projects{
		padding:0;
	}
}
.caption-body{
	padding:15px;
}
.caption-header{
	text-align:center;
	color:#333;
}
.caption-body{
	padding:25px 30px;
	color:#777;
}

.projects{
	padding:.5vw;
	display:-ms-flexbox;
	-ms-flex-wrap:wrap;
	-webkit-flex-wrap:wrap;
	-o-flex-wrap:wrap;
	-moz-flex-wrap:wrap;
	-ms-flex-direction:column;
	-webkit-flex-direction:column;
	-o-flex-direction:column;
	-moz-flex-direction:column;
	-ms-flex-flow:row wrap;
	-moz-flex-flow:row wrap;
	-o-flex-flow:row wrap;
	flex-flow:row wrap;
	-webkit-flex-flow:row wrap;
	display: -webkit-box;
	display:flex;
}
/*.projects .box{
	width:200px;
	margin:.5vw;
	-webkit-box-flex:auto;
	-webkit-flex:auto;
	flex:auto;
	box-flex:auto;
}
.projects .box img{
	width:100%;
	height:100%;
}
*/
#categories{
	width:90%;
	overflow:hidden;
	font-size:1.3vw;
}
 .clr:after{
    content:"";
    display:block;
    clear:both;
  }
#categories li{
	position:relative;
	list-style-type:none;
	width:27.85714285714286%; /* = (100-2.5) / 3.5 */
	padding-bottom: 32.16760145166612%;
	float:left;
	overflow:hidden;
	-webkit-transform:rotate(-60deg) skewY(30deg);
	-moz-transform:rotate(-60deg) skewY(30deg);
	-o-transform:rotate(-60deg) skewY(30deg);
	transform:rotate(-60deg) skewY(30deg);
} 
#categories li:nth-child(3n+2){
	margin:0 1%;	
}#categories li:nth-child(6n+4){
	margin:0.5%;	
}
#categories li:nth-child(6n+4),#categories li:nth-child(6n+5),#categories li:nth-child(6n+6){
	margin-top: -6.9285714285%;
	margin-bottom: -6.9285714285%;
	
	-webkit-transform:translateX(50%) rotate(-60deg) skewY(30deg);
	-moz-transform:translateX(50%) rotate(-60deg) skewY(30deg);
	-o-transform:translateX(50%) rotate(-60deg) skewY(30deg);
	transform:translateX(50%) rotate(-60deg) skewY(30deg);
}
#categories li:nth-child(6n+4):last-child, #categories li:nth-child(6n+5):last-child, #categories li:nth-child(6n+6):last-child{
  margin-bottom:0%;
}
#categories li *{
	position:absolute;
	visibility:visible;
}
#categories li > div{
	width:100%;
	height: 100%;
	text-align:center;
	color:#fff;
	overflow:hidden;

	-webkit-transform:skewY(-30deg) rotate(60deg);
	-moz-transform:skewY(-30deg) rotate(60deg);
	-o-transform:skewY(-30deg) rotate(60deg);
	transform:skewY(-30deg) rotate(60deg);
}
#categories li img{
	left:-100%;
	right:-100%;
	width:auto;
	height: 100%;
	margin:0 auto;
}
#categories div h1,#categories div p{
	width:100%;
	margin:0 auto;
	background-color:rgba(0,0,0,0.5);

	-webkit-transition:top .2s ease-out,bottom .2s ease-out, .2s padding .2s ease-out;
	-moz-transition:top .2s ease-out,bottom .2s ease-out, .2s padding .2s ease-out;
	-o-transition:top .2s ease-out,bottom .2s ease-out, .2s padding .2s ease-out;
	transition:top .2s ease-out,bottom .2s ease-out, .2s padding .2s ease-out;
}
#categories li h1{
	bottom:110%;
	font-weight:normal;
	font-size:1.5em;
	padding-top:100%;
	padding-bottom:100%;
}
#categories li h1:after{
	content: '';
	display:block;
	position:absolute;
	bottom:-1px;
	left:45%;
	width:10%;
	text-align:center;
	z-index:1;
	border-bottom:2px solid #fff;
}
#categories li p{
	padding-top:50%;
	top:110%;
	padding-bottom:50%;
}
/*hover effect*/
#categories li div:hover h1{
	bottom:50%;
	padding-bottom:10%;
}
#categories li div:hover p{
	top:50%;
	padding-top:10%;
}
